<div class="container">
  <div class="row">
    <div class="btn-group">
      <button class="btn btn-primary" btnRadio="Likers" (click)="loadUsers()" [(ngModel)]="likesParam">Members who Like me</button>
      <button class="btn btn-primary" btnRadio="Likees" (click)="loadUsers()" [(ngModel)]="likesParam">Members who I like</button>
    </div>
  </div>

  <h2>{{likesParam === 'Likers' ? 'Members who I like' : 'Members who I\'ve liked'}} : {{pagination.totalItems}}</h2>

  <div class="row equal">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>

  <div class="text-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" 
      [(ngModel)]="pagination.currentPage" 
      class="pagination-sm"
      [itemsPerPage]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>
</div>